*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#eef2f7;
    font-family:Arial,Helvetica,sans-serif;
}

.container{
    width:700px;
    margin:40px auto;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:20px;
}

.header p{
    margin-top:8px;
}

#chat-box{
    height:450px;
    overflow-y:auto;
    padding:20px;
    background:#f9fafb;
}

.bot-message{
    background:#e5e7eb;
    padding:12px;
    border-radius:12px;
    margin-bottom:15px;
    width:fit-content;
    max-width:80%;
}

.user-message{
    background:#2563eb;
    color:white;
    padding:12px;
    border-radius:12px;
    margin-bottom:15px;
    margin-left:auto;
    width:fit-content;
    max-width:80%;
}

.input-area{
    display:flex;
    padding:15px;
    gap:10px;
    border-top:1px solid #ddd;
}

#user-input{
    flex:1;
    padding:12px;
    font-size:16px;
}

#send-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 25px;
    cursor:pointer;
    border-radius:8px;
}

#send-btn:hover{
    background:#1d4ed8;
}